---
import Layout from '../layouts/Layout.astro';
import QuoteForm from '../components/QuoteForm'

import { getContent } from '../services/airtable';

const { seoTitle, seoDescription } = await getContent('quote');
---

<Layout title={seoTitle} description={seoDescription}>
  <main>
    <QuoteForm client:load/>
  </main>
</Layout>

