---
import Layout from "../layouts/Layout.astro";
import { getContent } from '../services/airtable';

const { seoTitle, seoDescription, title, body } = await getContent("termsAndConditions");
---

<Layout title={seoTitle} description={seoDescription}>
  <main>
      <h2 class="my-2 text-5xl font-semibold">{title}</h2>
      <p class="text-2xl">{body}</p>
  </main>
</Layout>
