---
import Layout from "../layouts/Layout.astro";
import { getContent } from '../services/airtable';

const { seoTitle, seoDescription, title, body } = await getContent("termsAndConditions");
---

<Layout title={seoTitle} description={seoDescription}>
  <main>
      <h2>{title}</h2>
      <p>{body}</p>
  </main>
</Layout>
