---
import { getCredentials} from '../services/airtable';
const { name } = await getCredentials();
---

<nav class="flex justify-between max-lg:hidden">
  <h1 class="text-brown text-8xl font-semibold">{name}</h1>
  <ul>
    <a href="/" class="align-middle text-3xl  mx-2.5 hover:underline">Home</a>
    <a href="/quote" class="align-middle text-3xl mx-2.5 hover:underline">Quote</a>
    <a href="/terms-and-conditions" class="align-middle text-3xl mx-2.5 hover:underline">Terms and Conditions</a>
  </ul>
</nav>
