---
import Navigation from '../components/Navigation.astro';

export interface Props {
  description: string,
	title: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="font-raleway bg-savit bg-bottom bg-no-repeat bg-cover h-screen text-grey px-12 py-10">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
    <meta name="author" content="Savit">
		<link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet"> 
		<title>{title}</title>
	</head>
  <header>
    <Navigation/>
  </header>
	<body>
		<slot />
	</body>
</html>
